[11.1.x] URI Compliance

After upgrading I found that all my rest services stopped working because we use encoded URIs in our path requests.

 Jetty itself allows you to set something called _uriCompliance = org.eclipse.jetty.http.UriCompliance.LEGACY; in the org.eclipse.jetty.server.HttpConfiguration. But that alone is not enough. Furthermore you have to do org.eclipse.jetty.ee10.servlet.ServletHandler.setDecodeAmbiguousURIs(true)

But there is no way to set either of these with PaxWeb. Is this something you can add?

I remember issues with Jetty's `UriCompliance` https://github.com/jolokia/jolokia/issues/573#issuecomment-1729276314

But Jolokia doesn't include any particular server runtime. However Pax Web does and I think we need a flag to set this Jetty specific option.

Give me some time and I'll plan it for next release.

@garpinc I've added new `org.ops4j.pax.web.server.decodeAmbiguousURIs` option that can be used in `org.ops4j.pax.web` PID.
Also I've changed the `jetty.xml` file shipped with the Karaf features to contain this fragment (commented out by default):
```xml
<!-- uriCompliance: one of RFC3986, UNSAFE, UNAMBIGUOUS, LEGACY, DEFAULT, JETTY_11 -->
<!-- httpCompliance: one of STRICT, RFC9110, RFC7230, RFC2616, LEGACY, RFC2616_LEGACY, RFC7230_LEGACY -->
<New id="httpConfig" class="org.eclipse.jetty.server.HttpConfiguration">
...
	<Set name="uriCompliance">
		<Call class="org.eclipse.jetty.http.UriCompliance" name="valueOf">
			<Arg>RFC3986</Arg>
		</Call>
	</Set>
	<Set name="httpCompliance">
		<Call class="org.eclipse.jetty.http.HttpCompliance" name="valueOf">
			<Arg>STRICT</Arg>
		</Call>
	</Set>
</New>
```