Prepare Pax Web version using JakartaEE 10+ API

Related to osgi/osgi#499

~Target runtimes (as of Nov 2022):~
~Target runtimes (as of Jun 2023):~
Target runtimes (as of March 2025):
* Jetty 12.0
* Tomcat 11.0
* Undertow 2.3

See:
* rhuss/jolokia#484
* osgi/osgi#575
* osgi/osgi#597
* jakartaee/servlet#365
* jakartaee/servlet#407
* eclipse/jetty.project#9906
* eclipse/jetty.project#9910
* eclipse/jetty.project#9925
* jetty/jetty.project#12918

Changes in XSD (6.0):
* new element `/session-config/cookie-config/attribute` (0..n) - https://github.com/eclipse-ee4j/servlet-api/issues/175 (to implement `SameSite` for example)
* new element `/jsp-config/jsp-property-group/error-on-el-not-found` (0..1)
* new element `/context-service`
* new element `/managed-executor`
* new element `/managed-scheduled-executor`
* new element `/managed-thread-factory`

No point of using `org.osgi.service.servlet.runtime.dto.DTOConstants#FAILURE_REASON_SERVLET_WRITE_TO_LOCATION_DENIED` - `System.getSecurityManager()` is prepared for removal after JDK17 - should be reflected in changed specification.

Jetty 11 seems to be only Servlet API 5.0.0... (so for example no `jakarta.servlet.SessionCookieConfig#getAttributes()` method).

See rhuss/jolokia#484

Jetty 12 Beta (already available in Maven Central) is Servlet 6 implementation.

See:
* jakartaee/servlet#365
* jakartaee/servlet#407

See eclipse/jetty.project#9906

See:
* eclipse/jetty.project#9925

Changes between 5 and 6 (interfaces):
* added `jakarta.servlet.descriptor.JspPropertyGroupDescriptor.getErrorOnELNotFound()`
* deprecated `jakarta.servlet.http.Cookie.set|getComment()`
* deprecated `jakarta.servlet.http.Cookie.set|getVersion()`
* added `jakarta.servlet.http.Cookie.setAttribute()`
* added `jakarta.servlet.http.Cookie.getAttribute()`
* added `jakarta.servlet.http.Cookie.setAttributes()`
* removed `jakarta.servlet.http.HttpServletRequest.isRequestedSessionIdFromUrl()` (deprecated in version 5)
* removed `jakarta.servlet.http.HttpServletRequestWrapper.isRequestedSessionIdFromUrl()` (deprecated in version 5)
* removed `jakarta.servlet.http.HttpServletResponse.encodeUrl()` (deprecated in version 5)
* removed `jakarta.servlet.http.HttpServletResponse.encodeRedirectUrl()` (deprecated in version 5. `encodeRedirectURL()` should be used)
* removed `jakarta.servlet.http.HttpServletResponse.setStatus()` (deprecated in version 5)
* removed `jakarta.servlet.http.HttpServletResponseWrapper.encodeUrl()` (deprecated in version 5)
* removed `jakarta.servlet.http.HttpServletResponseWrapper.encodeRedirectUrl()` (deprecated in version 5. `encodeRedirectURL()` should be used)
* removed `jakarta.servlet.http.HttpServletResponseWrapper.setStatus()` (deprecated in version 5)
* removed `jakarta.servlet.http.HttpSession.getSessionContext()` (deprecated in version 5)
* removed `jakarta.servlet.http.HttpSession.getValue()` (deprecated in version 5)
* removed `jakarta.servlet.http.HttpSession.getValueNames()` (deprecated in version 5)
* removed `jakarta.servlet.http.HttpSession.putValue()` (deprecated in version 5)
* removed `jakarta.servlet.http.HttpSession.removeValue()` (deprecated in version 5)
* removed `jakarta.servlet.http.HttpSessionContext` class (deprecated in version 5)
* removed `jakarta.servlet.http.HttpUtils` class (deprecated in version 5)
* added `jakarta.servlet.ServletConnection` interface
* removed `jakarta.servlet.ServletContext.getServlet()` (deprecated in version 5)
* removed `jakarta.servlet.ServletContext.getServlets()` (deprecated in version 5)
* removed `jakarta.servlet.ServletContext.getServletNames()` (deprecated in version 5)
* removed `jakarta.servlet.ServletContext.log()` (deprecated in version 5)
* removed `jakarta.servlet.ServletRequest.getRealPath()` (deprecated in version 5)
* added `jakarta.servlet.ServletContext.getRequestId()`
* added `jakarta.servlet.ServletContext.getProtocolRequestId()`
* added `jakarta.servlet.ServletContext.getServletConnection()`
* removed `jakarta.servlet.ServletRequestWrapper.getRealPath()` (deprecated in version 5)
* added `jakarta.servlet.ServletContextWrapper.getRequestId()`
* added `jakarta.servlet.ServletContextWrapper.getProtocolRequestId()`
* added `jakarta.servlet.ServletContextWrapper.getServletConnection()`
* deprecated `jakarta.servlet.SessionCookieConfig.set|getComment()` (no longer required by RFC 6265)
* added `jakarta.servlet.SessionCookieConfig.setAttribute()`
* added `jakarta.servlet.SessionCookieConfig.getAttribute()`
* added `jakarta.servlet.SessionCookieConfig.getAttributes()`
* removed `jakarta.servlet.SingleThreadModel` interface
* removed `jakarta.servlet.UnavailableException` constructors that accept `Servlet` paramater (deprecated in version 5)
* removed `jakarta.servlet.UnavailableException.getServlet()` (deprecated in version 5)

Changes between 5 and 6 (documentation):
* `jakarta.servlet.annotation.HttpMethodConstraint.value()` mentions now RFC 7231 instead of RFC 2616 (same for several other classes)
* `jakarta.servlet.http.Cookie.Cookie()` mentions now RFC 6265 instead of RFC 2109 (same for several other classes)

Changes between 5 and 6 (implementation):
* `jakarta.servlet.http.HttpServlet.doHead()` - HEAD without body is handled only in legacy mode (`jakarta.servlet.http.legacyDoHead` init param). By default, `doGet()` is called

Changes between 5 and 6 (other):
* `jakarta.servlet.http.HttpServlet` - added `jakarta.servlet.http.legacyDoHead` option
* added `jakarta/servlet/resources/jakartaee_10.xsd`
* added `jakarta/servlet/resources/jsp_3_1.xsd`
* added `jakarta/servlet/resources/web-app_6_0.xsd`
* added `jakarta/servlet/resources/web-common_6_0.xsd`
* added `jakarta/servlet/resources/web-fragment_6_0.xsd`
* added `jakarta/servlet/resources/web-jsptaglibrary_3_1.xsd`


Another problem with Jetty 12 is the use of `java.nio.file.Paths#get(java.net.URI)` which fails for `jar:`, `bundle:` because the underlying URL handler is not used. We have this exception:
```
11:44:56.835 [paxweb-config-1-thread-1 (change controller)] ERROR (Activator.java:623) org.ops4j.pax.web.service.internal.Activator - Unable to start Pax Web server: Provider "bundle" not installed
java.nio.file.FileSystemNotFoundException: Provider "bundle" not installed
	at java.nio.file.Path.of(Path.java:212) ~[?:?]
	at java.nio.file.Paths.get(Paths.java:98) ~[?:?]
	at org.eclipse.jetty.util.resource.PathResourceFactory.newResource(PathResourceFactory.java:26) ~[jetty-util-12.0.3.jar:12.0.3]
	at org.eclipse.jetty.util.resource.ResourceFactory.newResource(ResourceFactory.java:370) ~[jetty-util-12.0.3.jar:12.0.3]
	at org.ops4j.pax.web.service.jetty.internal.JettyFactory.newResource(JettyFactory.java:588) ~[pax-web-jetty-10.0.0-SNAPSHOT.jar:?]
	at org.ops4j.pax.web.service.jetty.internal.JettyServerWrapper.applyJettyConfiguration(JettyServerWrapper.java:371) ~[pax-web-jetty-10.0.0-SNAPSHOT.jar:?]
	at org.ops4j.pax.web.service.jetty.internal.JettyServerWrapper.configure(JettyServerWrapper.java:272) ~[pax-web-jetty-10.0.0-SNAPSHOT.jar:?]
	at org.ops4j.pax.web.service.jetty.internal.JettyServerController.configure(JettyServerController.java:94) ~[pax-web-jetty-10.0.0-SNAPSHOT.jar:?]
	at org.ops4j.pax.web.service.internal.Activator.performConfiguration(Activator.java:552) ~[?:?]
...
```

or
```
java.nio.file.FileSystemNotFoundException
	at jdk.zipfs/jdk.nio.zipfs.ZipFileSystemProvider.getFileSystem(ZipFileSystemProvider.java:173)
	at jdk.zipfs/jdk.nio.zipfs.ZipFileSystemProvider.getPath(ZipFileSystemProvider.java:159)
	at java.base/java.nio.file.Path.of(Path.java:208)
	at java.base/java.nio.file.Paths.get(Paths.java:98)
	at org.eclipse.jetty.util.resource.PathResourceFactory.newResource(PathResourceFactory.java:26)
	at org.eclipse.jetty.util.resource.ResourceFactory.newResource(ResourceFactory.java:370)
	at org.ops4j.pax.web.service.jetty.internal.JettyFactory.newResource(JettyFactory.java:588)
	at org.ops4j.pax.web.service.jetty.internal.JettyServerWrapper.applyJettyConfiguration(JettyServerWrapper.java:371)
	at org.ops4j.pax.web.service.jetty.internal.JettyServerWrapper.configure(JettyServerWrapper.java:272)
	at org.ops4j.pax.web.service.jetty.internal.JettyServerController.configure(JettyServerController.java:94)
	at org.ops4j.pax.web.itest.server.controller.ServerControllerBasicConfigurationTest.justInstantiateWithoutOsgi(ServerControllerBasicConfigurationTest.java:80)
```

Similar problem is described under spring-projects/spring-boot#7161

Are there any news on this?

Well, at some point I created very crude implementation of pax-web-extender-whiteboard which implements https://docs.osgi.org/specification/osgi.cmpn/8.1.0/service.servlet.html and it worked with Jolokia 2.
But I didn't have much time to finish the implementation.

Last week Jetty 12.0.7 was released and I was going to get back to this issue. Maybe next week I'll revisit it...

Is there a way we can support jakarta. API development of this (especially for Tommcat). We would like to see it in Karaf.

> Is there a way we can support jakarta. API development of this (especially for Tommcat). We would like to see it in Karaf.

Apache Felix offers a jakarta implementation of the OSGi spec as well, based on Jetty12.

@grgrzybek is pax offering other / more features on top of what Felix offers? 

Pax Web's history is long - it started when first HttpService OSGi CMPN was created.

The main goal of Pax Web was always to provide choice of the runtime covered by OSGi CMPN specification. So while Felix HTTP implements OSGi CMPN perfectly on top of Jetty using [single servlet](https://github.com/apache/felix-dev/blob/6d39e205d6edff7bc72ed54800ae8d619c9b96eb/http/jetty12/src/main/java/org/apache/felix/http/jetty/internal/JettyService.java#L300), Pax Web deals with three different Servlet API implementations:
* Jetty
* Tomcat
* Undertow

And each tracked servlet/filter/listener/error-page/welcome-file/servlet-container-initializer/websocket/jsp/... is configured within one of these runtimes in more _canonical_ way - not proxied by single _dispatcher servlet_, but added directly to Jetty/Tomcat/Unertow _context_ (Jetty's ServletContextHandler, Tomcat's StandardContext and Undertow's Deployment).

Because we want to have unified experience, there is special code that make it possible. Also we've found some spec-violations like:
* jetty/jetty.project#9910
* jetty/jetty.project#9906
* jetty/jetty.project#9119
* https://bz.apache.org/bugzilla/show_bug.cgi?id=64109
* https://bz.apache.org/bugzilla/show_bug.cgi?id=65244
* https://bz.apache.org/bugzilla/show_bug.cgi?id=65256

Also - [OSGi CMPN Whiteboard Specificaion](https://docs.osgi.org/specification/osgi.cmpn/8.0.0/service.http.whiteboard.html) supports: servlets (including resources and error pages), filters and listeners. Pax Web (I know that Felix HTTP supports some additional _web elements_ as well) supports additionally JSPs, welcome pages, websockets, servlet container listeners, security mappings, login configs (everything you can find in `web.xml`).

So treat Pax Web as alternative implementation, where you can use Tomcat and/or Undertow.
Apache Karaf uses (at least up to 4.4.x) Pax Web. Also Red Hat Fuse based on Karaf uses Pax Web (with Undertow) as default implementation.

Thanks for the explanation. I just wanted to point out that Felix HTTP offers a jakartified version based on Jetty12 (including optional websocket support), but didn't know the exact differences compared to Pax Web. That's clear now. 
I understand supporting Jakarta for multiple Servlet API implementations is harder than just supporting one.

Jetty 9, 10, 11 have end-of-life 2025.01:
https://github.com/jetty/jetty.project/issues/7958
https://github.com/jetty/jetty.project/issues/10485

So for now the only supported version is Jetty 12, which if I see properly, supports both
old Javax API (EE8) and the new Jakarta API.

Would it be possible to prepare a version of PaxWeb with Jetty 12 with old Javax API, based on PaxWeb 9.x?

> Would it be possible to prepare a version of PaxWeb with Jetty 12 with old Javax API, based on PaxWeb 9.x?

I guess at some point this will be the only option... Thanks for making me realize this ;)

First Jetty Itests:
```
[INFO] Results:
[INFO] 
[ERROR] Failures: 
[ERROR]   Servlet3WarIntegrationTest>AbstractServlet3WarIntegrationTest.testWrongServlet:90 Result is not conforming to expected definitions!
Response-Content mismatch: Response must contain '<h1>Error Page</h1>'
[ERROR]   WabWithContainerSpecificContextConfigurationIntegrationTest.testChangedContextHandler:43 Result is not conforming to expected definitions!
Unexpected HttpStatusCode returned! Expected '200', but was '404'
	Response-Content mismatch: Response must contain 'Hello from a resource configured using server-specific jetty-web.xml.'
[ERROR]   WarContainerInitializerIntegrationTest>AbstractWarContainerInitializerIntegrationTest.testServlet30:64 Result is not conforming to expected definitions!
Response-Content mismatch: Filter is registered in Service-Locator for ContainerInitializer. Response must contain 'FILTER-INIT'
[ERROR]   WarHttpMethodsIntegrationTest>AbstractWarHttpMethodsIntegrationTest.testOptions:57 Result is not conforming to expected definitions!
Response-Header mismatch: Allow header should be returned
[ERROR]   WarIntegrationTest>AbstractWarIntegrationTest.testSlash:142 Result is not conforming to expected definitions!
Response-Content mismatch: Response must contain '<h1>Error Page</h1>'
[ERROR]   WarIntegrationTest>AbstractWarIntegrationTest.testWrongServlet:168 Result is not conforming to expected definitions!
Response-Content mismatch: Response must contain '<h1>Error Page</h1>'
[ERROR]   WarPostIntegrationTest>AbstractWarPostIntegrationTest.testPost:59 Result is not conforming to expected definitions!
Unexpected HttpStatusCode returned! Expected '400', but was '200'
[ERROR]   WebAppPersistentSessionsIntegrationTest>AbstractWebAppSessionsIntegrationTest.testSessions:96 Result is not conforming to expected definitions!
Unexpected HttpStatusCode returned! Expected '200', but was '406'
	Response-Content mismatch: Response must contain visit number
[ERROR]   WebFragmentIntegrationTest>AbstractWebFragmentIntegrationTest.testSlash:88 Result is not conforming to expected definitions!
Response-Content mismatch: Response must contain '<h1>Error Page</h1>'
[ERROR]   WebFragmentIntegrationTest>AbstractWebFragmentIntegrationTest.testWrongServlet:114 Result is not conforming to expected definitions!
Response-Content mismatch: Response must contain '<h1>Error Page</h1>'
[ERROR]   WhiteboardIntegrationTest>AbstractWhiteboardIntegrationTest.test404:132 Result is not conforming to expected definitions!
Response-Content mismatch: Response must contain '<title>Default 404 page</title>'
[ERROR] Errors: 
[ERROR]   JerseyCustomContextIntegrationTest.initializationError » TestContainer java.lang.IllegalArgumentException: Could not resolve version. Do you have a dependency for com.sun.activation/javax.activation in your maven project?
[ERROR]   FilterMappingIntegrationTest>AbstractFilterMappingIntegrationTest.testFilterWar:30->AbstractControlledTestBase.configureAndWaitForDeploymentUnlessInstalled:1071->AbstractControlledTestBase.configureAndWaitForDeployment:1021->AbstractControlledTestBase.configureAndWaitForDeployment:1040->AbstractFilterMappingIntegrationTest.lambda$testFilterWar$0:31->AbstractControlledTestBase.installAndStartBundle:788 » Bundle Unable to resolve org.ops4j.pax.web.samples.war-filters [43](R 43.0): missing requirement [org.ops4j.pax.web.samples.war-filters [43](R 43.0)] osgi.wiring.package; (&(osgi.wiring.package=jakarta.servlet)(version>=3.1.0)(!(version>=5.0.0))) Unresolved requirements: [[org.ops4j.pax.web.samples.war-filters [43](R 43.0)] osgi.wiring.package; (&(osgi.wiring.package=jakarta.servlet)(version>=3.1.0)(!(version>=5.0.0)))]
[ERROR]   WarBasicIntegrationTest>AbstractWarBasicIntegrationTest.setUp:51->AbstractControlledTestBase.configureAndWaitForDeployment:1021->AbstractControlledTestBase.configureAndWaitForDeployment:1040->AbstractWarBasicIntegrationTest.lambda$setUp$0:52 » ArtifactResolution Error resolving artifact org.ops4j.pax.web:pax-web-compatibility-el2:jar:10.0.0-SNAPSHOT
[ERROR]   WarFormAuthIntegrationTest>AbstractWarFormAuthIntegrationTest.testWebContainerExample:52 » UnsupportedCharset null
[ERROR]   WarHttp2IntegrationTest.testHttp2ClearText » H2StreamReset Connection terminated by the peer (9)
[ERROR]   WarHttp2IntegrationTest.testHttp2Secure » ConnectionClosed Connection is closed
[ERROR]   WarVaadin08IntegrationTest>AbstractWarVaadin08IntegrationTest.setUp:31->AbstractControlledTestBase.configureAndWaitForDeploymentUnlessInstalled:1071->AbstractControlledTestBase.configureAndWaitForDeployment:1021->AbstractControlledTestBase.configureAndWaitForDeployment:1040->AbstractWarVaadin08IntegrationTest.lambda$setUp$0:35->AbstractControlledTestBase.installAndStartWebBundle:812->AbstractControlledTestBase.installAndStartBundle:787 » ArtifactResolution Error resolving artifact org.ops4j.pax.web.samples:war-vaadin08:war:10.0.0-SNAPSHOT
[ERROR]   WarVaadin08SpringIntegrationTest>AbstractWarVaadin08SpringIntegrationTest.setUp:31->AbstractControlledTestBase.configureAndWaitForDeployment:1021->AbstractControlledTestBase.configureAndWaitForDeployment:1040->AbstractWarVaadin08SpringIntegrationTest.lambda$setUp$0:31->AbstractControlledTestBase.installAndStartBundle:787 » ArtifactResolution Error resolving artifact org.ops4j.pax.web.samples:war-vaadin08-spring:war:10.0.0-SNAPSHOT
[ERROR]   WarJSFEmbeddedIntegrationTest.initializationError » TestContainer java.lang.IllegalArgumentException: Could not resolve version. Do you have a dependency for org.ops4j.pax.web/pax-web-compatibility-interceptor12 in your maven project?
[ERROR]   WarJSFFaceletsIntegrationTest.initializationError » TestContainer java.lang.IllegalArgumentException: Could not resolve version. Do you have a dependency for com.sun.activation/javax.activation in your maven project?
[ERROR]   WarJSFJettyBundleWiredIntegrationTest.initializationError » TestContainer java.lang.IllegalArgumentException: Could not resolve version. Do you have a dependency for com.sun.activation/javax.activation in your maven project?
[ERROR]   WarJSFPrimefacesEmbeddedIntegrationTest.initializationError » TestContainer java.lang.IllegalArgumentException: Could not resolve version. Do you have a dependency for org.ops4j.pax.web/pax-web-compatibility-interceptor12 in your maven project?
[ERROR]   WarJSFPrimefacesWiredIntegrationTest.initializationError » TestContainer java.lang.IllegalArgumentException: Could not resolve version. Do you have a dependency for com.sun.activation/javax.activation in your maven project?
[ERROR]   WarJSFResourcehandlerIntegrationTest.initializationError » TestContainer java.lang.IllegalArgumentException: Could not resolve version. Do you have a dependency for com.sun.activation/javax.activation in your maven project?
[ERROR]   WarJSFWiredIntegrationTest.initializationError » TestContainer java.lang.IllegalArgumentException: Could not resolve version. Do you have a dependency for com.sun.activation/javax.activation in your maven project?
[ERROR]   WebSocketIntegrationTest.initializationError » NoClassDefFound jakarta/websocket/WebSocketContainer
[ERROR]   WebSocketWhiteBoardIntegrationTest.initializationError » NoClassDefFound jakarta/websocket/WebSocketContainer
[ERROR]   WebConsoleIntegrationTest>AbstractWebConsoleIntegrationTest.setUp:32->AbstractControlledTestBase.configureAndWaitForServletWithMapping:960->AbstractWebConsoleIntegrationTest.lambda$setUp$0:38 » Bundle Unable to resolve org.apache.felix.webconsole [42](R 42.0): missing requirement [org.apache.felix.webconsole [42](R 42.0)] osgi.wiring.package; (&(osgi.wiring.package=javax.servlet)(version>=3.0.0)(!(version>=5.0.0))) Unresolved requirements: [[org.apache.felix.webconsole [42](R 42.0)] osgi.wiring.package; (&(osgi.wiring.package=javax.servlet)(version>=3.0.0)(!(version>=5.0.0)))]
[ERROR]   WhiteboardDS1603IntegrationTest>AbstractWhiteboardDS1603IntegrationTest.setUp:46->AbstractControlledTestBase.configureAndWait:897->AbstractWhiteboardDS1603IntegrationTest.lambda$setUp$0:46->AbstractControlledTestBase.installAndStartBundle:788 » Bundle Unable to resolve org.ops4j.pax.web.samples.whiteboard-ds-1603 [41](R 41.0): missing requirement [org.ops4j.pax.web.samples.whiteboard-ds-1603 [41](R 41.0)] osgi.wiring.package; (&(osgi.wiring.package=org.osgi.service.component)(version>=1.5.0)(!(version>=2.0.0))) Unresolved requirements: [[org.ops4j.pax.web.samples.whiteboard-ds-1603 [41](R 41.0)] osgi.wiring.package; (&(osgi.wiring.package=org.osgi.service.component)(version>=1.5.0)(!(version>=2.0.0)))]
[ERROR]   WhiteboardDSDynamicIntegrationTest>AbstractWhiteboardDSDynamicIntegrationTest.setUp:46->AbstractControlledTestBase.configureAndWait:897->AbstractWhiteboardDSDynamicIntegrationTest.lambda$setUp$0:46->AbstractControlledTestBase.installAndStartBundle:788 » Bundle Unable to resolve org.ops4j.pax.web.samples.whiteboard-ds-dynamic [41](R 41.0): missing requirement [org.ops4j.pax.web.samples.whiteboard-ds-dynamic [41](R 41.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0))) [caused by: Unable to resolve org.apache.felix.scr [26](R 26.0): missing requirement [org.apache.felix.scr [26](R 26.0)] osgi.wiring.package; (&(osgi.wiring.package=org.osgi.service.component)(version>=1.5.0)(!(version>=1.6.0)))] Unresolved requirements: [[org.ops4j.pax.web.samples.whiteboard-ds-dynamic [41](R 41.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0)))]
[ERROR]   WhiteboardDSRestartIntegrationTest>AbstractWhiteboardDSRestartIntegrationTest.setUp:51->AbstractControlledTestBase.configureAndWait:897->AbstractWhiteboardDSRestartIntegrationTest.lambda$setUp$0:51->AbstractControlledTestBase.installAndStartBundle:788 » Bundle Unable to resolve org.ops4j.pax.web.samples.whiteboard-ds [41](R 41.0): missing requirement [org.ops4j.pax.web.samples.whiteboard-ds [41](R 41.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0))) [caused by: Unable to resolve org.apache.felix.scr [26](R 26.0): missing requirement [org.apache.felix.scr [26](R 26.0)] osgi.wiring.package; (&(osgi.wiring.package=org.osgi.service.component)(version>=1.5.0)(!(version>=1.6.0)))] Unresolved requirements: [[org.ops4j.pax.web.samples.whiteboard-ds [41](R 41.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0)))]
[ERROR]   WhiteboardDSRestartIntegrationTest>AbstractWhiteboardDSRestartIntegrationTest.setUp:51->AbstractControlledTestBase.configureAndWait:897->AbstractWhiteboardDSRestartIntegrationTest.lambda$setUp$0:51->AbstractControlledTestBase.installAndStartBundle:788 » Bundle Unable to resolve org.ops4j.pax.web.samples.whiteboard-ds [41](R 41.0): missing requirement [org.ops4j.pax.web.samples.whiteboard-ds [41](R 41.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0))) [caused by: Unable to resolve org.apache.felix.scr [26](R 26.0): missing requirement [org.apache.felix.scr [26](R 26.0)] osgi.wiring.package; (&(osgi.wiring.package=org.osgi.service.component)(version>=1.5.0)(!(version>=1.6.0)))] Unresolved requirements: [[org.ops4j.pax.web.samples.whiteboard-ds [41](R 41.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0)))]
[ERROR]   WhiteboardDSRestartIntegrationTest>AbstractWhiteboardDSRestartIntegrationTest.setUp:51->AbstractControlledTestBase.configureAndWait:897->AbstractWhiteboardDSRestartIntegrationTest.lambda$setUp$0:51->AbstractControlledTestBase.installAndStartBundle:788 » Bundle Unable to resolve org.ops4j.pax.web.samples.whiteboard-ds [41](R 41.0): missing requirement [org.ops4j.pax.web.samples.whiteboard-ds [41](R 41.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0))) [caused by: Unable to resolve org.apache.felix.scr [26](R 26.0): missing requirement [org.apache.felix.scr [26](R 26.0)] osgi.wiring.package; (&(osgi.wiring.package=org.osgi.service.component)(version>=1.5.0)(!(version>=1.6.0)))] Unresolved requirements: [[org.ops4j.pax.web.samples.whiteboard-ds [41](R 41.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0)))]
[ERROR]   WhiteboardDSRestartIntegrationTest>AbstractWhiteboardDSRestartIntegrationTest.setUp:51->AbstractControlledTestBase.configureAndWait:897->AbstractWhiteboardDSRestartIntegrationTest.lambda$setUp$0:51->AbstractControlledTestBase.installAndStartBundle:788 » Bundle Unable to resolve org.ops4j.pax.web.samples.whiteboard-ds [41](R 41.0): missing requirement [org.ops4j.pax.web.samples.whiteboard-ds [41](R 41.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0))) [caused by: Unable to resolve org.apache.felix.scr [26](R 26.0): missing requirement [org.apache.felix.scr [26](R 26.0)] osgi.wiring.package; (&(osgi.wiring.package=org.osgi.service.component)(version>=1.5.0)(!(version>=1.6.0)))] Unresolved requirements: [[org.ops4j.pax.web.samples.whiteboard-ds [41](R 41.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0)))]
[ERROR]   WhiteboardDSRestartIntegrationTest>AbstractWhiteboardDSRestartIntegrationTest.setUp:51->AbstractControlledTestBase.configureAndWait:897->AbstractWhiteboardDSRestartIntegrationTest.lambda$setUp$0:51->AbstractControlledTestBase.installAndStartBundle:788 » Bundle Unable to resolve org.ops4j.pax.web.samples.whiteboard-ds [41](R 41.0): missing requirement [org.ops4j.pax.web.samples.whiteboard-ds [41](R 41.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0))) [caused by: Unable to resolve org.apache.felix.scr [26](R 26.0): missing requirement [org.apache.felix.scr [26](R 26.0)] osgi.wiring.package; (&(osgi.wiring.package=org.osgi.service.component)(version>=1.5.0)(!(version>=1.6.0)))] Unresolved requirements: [[org.ops4j.pax.web.samples.whiteboard-ds [41](R 41.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0)))]
[ERROR]   WhiteboardR6DtoIntegrationTest>AbstractWhiteboardR6DtoIntegrationTest.setUp:78->AbstractControlledTestBase.configureAndWait:897->AbstractWhiteboardR6DtoIntegrationTest.lambda$setUp$0:78->AbstractControlledTestBase.installAndStartBundle:788 » Bundle Unable to resolve org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0): missing requirement [org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0))) [caused by: Unable to resolve org.apache.felix.scr [37](R 37.0): missing requirement [org.apache.felix.scr [37](R 37.0)] osgi.wiring.package; (&(osgi.wiring.package=org.osgi.service.component)(version>=1.5.0)(!(version>=1.6.0)))] Unresolved requirements: [[org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0)))]
[ERROR]   WhiteboardR6DtoIntegrationTest>AbstractWhiteboardR6DtoIntegrationTest.setUp:78->AbstractControlledTestBase.configureAndWait:897->AbstractWhiteboardR6DtoIntegrationTest.lambda$setUp$0:78->AbstractControlledTestBase.installAndStartBundle:788 » Bundle Unable to resolve org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0): missing requirement [org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0))) [caused by: Unable to resolve org.apache.felix.scr [37](R 37.0): missing requirement [org.apache.felix.scr [37](R 37.0)] osgi.wiring.package; (&(osgi.wiring.package=org.osgi.service.component)(version>=1.5.0)(!(version>=1.6.0)))] Unresolved requirements: [[org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0)))]
[ERROR]   WhiteboardR6DtoIntegrationTest>AbstractWhiteboardR6DtoIntegrationTest.setUp:78->AbstractControlledTestBase.configureAndWait:897->AbstractWhiteboardR6DtoIntegrationTest.lambda$setUp$0:78->AbstractControlledTestBase.installAndStartBundle:788 » Bundle Unable to resolve org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0): missing requirement [org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0))) [caused by: Unable to resolve org.apache.felix.scr [37](R 37.0): missing requirement [org.apache.felix.scr [37](R 37.0)] osgi.wiring.package; (&(osgi.wiring.package=org.osgi.service.component)(version>=1.5.0)(!(version>=1.6.0)))] Unresolved requirements: [[org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0)))]
[ERROR]   WhiteboardR6DtoIntegrationTest>AbstractWhiteboardR6DtoIntegrationTest.setUp:78->AbstractControlledTestBase.configureAndWait:897->AbstractWhiteboardR6DtoIntegrationTest.lambda$setUp$0:78->AbstractControlledTestBase.installAndStartBundle:788 » Bundle Unable to resolve org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0): missing requirement [org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0))) [caused by: Unable to resolve org.apache.felix.scr [37](R 37.0): missing requirement [org.apache.felix.scr [37](R 37.0)] osgi.wiring.package; (&(osgi.wiring.package=org.osgi.service.component)(version>=1.5.0)(!(version>=1.6.0)))] Unresolved requirements: [[org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0)))]
[ERROR]   WhiteboardR6DtoIntegrationTest>AbstractWhiteboardR6DtoIntegrationTest.setUp:78->AbstractControlledTestBase.configureAndWait:897->AbstractWhiteboardR6DtoIntegrationTest.lambda$setUp$0:78->AbstractControlledTestBase.installAndStartBundle:788 » Bundle Unable to resolve org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0): missing requirement [org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0))) [caused by: Unable to resolve org.apache.felix.scr [37](R 37.0): missing requirement [org.apache.felix.scr [37](R 37.0)] osgi.wiring.package; (&(osgi.wiring.package=org.osgi.service.component)(version>=1.5.0)(!(version>=1.6.0)))] Unresolved requirements: [[org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0)))]
[ERROR]   WhiteboardR6DtoIntegrationTest>AbstractWhiteboardR6DtoIntegrationTest.setUp:78->AbstractControlledTestBase.configureAndWait:897->AbstractWhiteboardR6DtoIntegrationTest.lambda$setUp$0:78->AbstractControlledTestBase.installAndStartBundle:788 » Bundle Unable to resolve org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0): missing requirement [org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0))) [caused by: Unable to resolve org.apache.felix.scr [37](R 37.0): missing requirement [org.apache.felix.scr [37](R 37.0)] osgi.wiring.package; (&(osgi.wiring.package=org.osgi.service.component)(version>=1.5.0)(!(version>=1.6.0)))] Unresolved requirements: [[org.ops4j.pax.web.samples.whiteboard-ds [44](R 44.0)] osgi.extender; (&(osgi.extender=osgi.component)(version>=1.5.0)(!(version>=2.0.0)))]
[ERROR]   WhiteboardR7JaxRsIntegrationTest.initializationError » TestContainer java.lang.IllegalArgumentException: Could not resolve version. Do you have a dependency for com.sun.activation/javax.activation in your maven project?
[ERROR]   WhiteboardSecurityIntegrationTest>AbstractWhiteboardSecurityIntegrationTest.setUp:38->AbstractControlledTestBase.configureAndWaitForServletWithMapping:960->AbstractWhiteboardSecurityIntegrationTest.lambda$setUp$0:39->AbstractControlledTestBase.installAndStartBundle:788 » ClassNotFound org.slf4j.LoggerFactory not found by org.ops4j.pax.web.samples.whiteboard-security [41]
[INFO] 
[ERROR] Tests run: 226, Failures: 11, Errors: 33, Skipped: 1
```

A bit better with Jetty:
```
[INFO] Results:
[INFO] 
[ERROR] Failures: 
[ERROR]   WarExtendedIntegrationTest.testWars:80 Result is not conforming to expected definitions!
Unexpected HttpStatusCode returned! Expected '404', but was '200'
[ERROR]   WarHttpMethodsIntegrationTest>AbstractWarHttpMethodsIntegrationTest.testOptions:57 Result is not conforming to expected definitions!
Response-Header mismatch: Allow header should be returned
[ERROR]   WarPostIntegrationTest>AbstractWarPostIntegrationTest.testPost:59 Result is not conforming to expected definitions!
Unexpected HttpStatusCode returned! Expected '400', but was '200'
[ERROR]   WebAppPersistentSessionsIntegrationTest>AbstractWebAppSessionsIntegrationTest.testSessions:96 Result is not conforming to expected definitions!
Unexpected HttpStatusCode returned! Expected '200', but was '406'
	Response-Content mismatch: Response must contain visit number
[ERROR] Errors: 
[ERROR]   JettyHandlerServiceIntegrationTest.initializationError » NoClassDefFound org/eclipse/jetty/http/HttpFields$Mutable
[ERROR]   WarFormAuthIntegrationTest>AbstractWarFormAuthIntegrationTest.testWebContainerExample:52 » UnsupportedCharset null
[ERROR]   WarVaadin08IntegrationTest>AbstractWarVaadin08IntegrationTest.setUp:31->AbstractControlledTestBase.configureAndWaitForDeploymentUnlessInstalled:1108->AbstractControlledTestBase.configureAndWaitForDeployment:1058->AbstractControlledTestBase.configureAndWaitForDeployment:1077->AbstractWarVaadin08IntegrationTest.lambda$setUp$0:35->AbstractControlledTestBase.installAndStartWebBundle:849->AbstractControlledTestBase.installAndStartBundle:824 » ArtifactResolution Error resolving artifact org.ops4j.pax.web.samples:war-vaadin08:war:10.0.0-SNAPSHOT
[ERROR]   WarVaadin08SpringIntegrationTest>AbstractWarVaadin08SpringIntegrationTest.setUp:31->AbstractControlledTestBase.configureAndWaitForDeployment:1058->AbstractControlledTestBase.configureAndWaitForDeployment:1077->AbstractWarVaadin08SpringIntegrationTest.lambda$setUp$0:31->AbstractControlledTestBase.installAndStartBundle:824 » ArtifactResolution Error resolving artifact org.ops4j.pax.web.samples:war-vaadin08-spring:war:10.0.0-SNAPSHOT
[ERROR]   WarJSFEmbeddedIntegrationTest.initializationError » TestContainer java.lang.IllegalArgumentException: Could not resolve version. Do you have a dependency for org.ops4j.pax.web/pax-web-compatibility-interceptor12 in your maven project?
[ERROR]   WarJSFFaceletsIntegrationTest>AbstractWarJSFFaceletsIntegrationTest.setUp:33->AbstractControlledTestBase.configureAndWaitForDeploymentUnlessInstalled:1108->AbstractControlledTestBase.configureAndWaitForDeployment:1058->AbstractControlledTestBase.configureAndWaitForDeployment:1077->AbstractWarJSFFaceletsIntegrationTest.lambda$setUp$1:35->AbstractControlledTestBase.installAndStartWebBundle:867->AbstractControlledTestBase.installAndStartBundle:825 » Bundle Unable to resolve trinidad-demo [59](R 59.0): missing requirement [trinidad-demo [59](R 59.0)] osgi.wiring.package; (osgi.wiring.package=javax.faces) Unresolved requirements: [[trinidad-demo [59](R 59.0)] osgi.wiring.package; (osgi.wiring.package=javax.faces)]
[ERROR]   WarJSFJettyBundleWiredIntegrationTest>AbstractWarJSFWiredIntegrationTest.setUp:39->AbstractControlledTestBase.configureAndWaitForDeploymentUnlessInstalled:1108->AbstractControlledTestBase.configureAndWaitForDeployment:1058->AbstractControlledTestBase.configureAndWaitForDeployment:1077->AbstractWarJSFWiredIntegrationTest.lambda$setUp$0:40->AbstractControlledTestBase.installAndStartBundle:825 » Bundle Unable to resolve org.ops4j.pax.web.samples.war-jsf23-wired [49](R 49.0): missing requirement [org.ops4j.pax.web.samples.war-jsf23-wired [49](R 49.0)] osgi.wiring.bundle; (osgi.wiring.bundle=org.apache.myfaces.core.impl) Unresolved requirements: [[org.ops4j.pax.web.samples.war-jsf23-wired [49](R 49.0)] osgi.wiring.bundle; (osgi.wiring.bundle=org.apache.myfaces.core.impl)]
[ERROR]   WarJSFJettyBundleWiredIntegrationTest>AbstractWarJSFWiredIntegrationTest.setUp:39->AbstractControlledTestBase.configureAndWaitForDeploymentUnlessInstalled:1108->AbstractControlledTestBase.configureAndWaitForDeployment:1058->AbstractControlledTestBase.configureAndWaitForDeployment:1077->AbstractWarJSFWiredIntegrationTest.lambda$setUp$0:40->AbstractControlledTestBase.installAndStartBundle:825 » Bundle Unable to resolve org.ops4j.pax.web.samples.war-jsf23-wired [49](R 49.0): missing requirement [org.ops4j.pax.web.samples.war-jsf23-wired [49](R 49.0)] osgi.wiring.bundle; (osgi.wiring.bundle=org.apache.myfaces.core.impl) Unresolved requirements: [[org.ops4j.pax.web.samples.war-jsf23-wired [49](R 49.0)] osgi.wiring.bundle; (osgi.wiring.bundle=org.apache.myfaces.core.impl)]
[ERROR]   WarJSFPrimefacesEmbeddedIntegrationTest.initializationError » TestContainer java.lang.IllegalArgumentException: Could not resolve version. Do you have a dependency for org.ops4j.pax.web/pax-web-compatibility-interceptor12 in your maven project?
[ERROR]   WarJSFPrimefacesWiredIntegrationTest>AbstractWarJSFPrimefacesIntegrationTest.setUp:42->AbstractControlledTestBase.configureAndWaitForDeploymentUnlessInstalled:1108->AbstractControlledTestBase.configureAndWaitForDeployment:1058->AbstractControlledTestBase.configureAndWaitForDeployment:1077->AbstractWarJSFPrimefacesIntegrationTest.lambda$setUp$0:43->AbstractControlledTestBase.installAndStartBundle:825 » Bundle Unable to resolve org.ops4j.pax.web.samples.war-primefaces-wired [68](R 68.0): missing requirement [org.ops4j.pax.web.samples.war-primefaces-wired [68](R 68.0)] osgi.wiring.package; (osgi.wiring.package=jakarta.faces.bean) Unresolved requirements: [[org.ops4j.pax.web.samples.war-primefaces-wired [68](R 68.0)] osgi.wiring.package; (osgi.wiring.package=jakarta.faces.bean)]
[ERROR]   WarJSFPrimefacesWiredIntegrationTest>AbstractWarJSFPrimefacesIntegrationTest.setUp:42->AbstractControlledTestBase.configureAndWaitForDeploymentUnlessInstalled:1108->AbstractControlledTestBase.configureAndWaitForDeployment:1058->AbstractControlledTestBase.configureAndWaitForDeployment:1077->AbstractWarJSFPrimefacesIntegrationTest.lambda$setUp$0:43->AbstractControlledTestBase.installAndStartBundle:825 » Bundle Unable to resolve org.ops4j.pax.web.samples.war-primefaces-wired [68](R 68.0): missing requirement [org.ops4j.pax.web.samples.war-primefaces-wired [68](R 68.0)] osgi.wiring.package; (osgi.wiring.package=jakarta.faces.bean) Unresolved requirements: [[org.ops4j.pax.web.samples.war-primefaces-wired [68](R 68.0)] osgi.wiring.package; (osgi.wiring.package=jakarta.faces.bean)]
[ERROR]   WarJSFPrimefacesWiredIntegrationTest>AbstractWarJSFPrimefacesIntegrationTest.setUp:42->AbstractControlledTestBase.configureAndWaitForDeploymentUnlessInstalled:1108->AbstractControlledTestBase.configureAndWaitForDeployment:1058->AbstractControlledTestBase.configureAndWaitForDeployment:1077->AbstractWarJSFPrimefacesIntegrationTest.lambda$setUp$0:43->AbstractControlledTestBase.installAndStartBundle:825 » Bundle Unable to resolve org.ops4j.pax.web.samples.war-primefaces-wired [68](R 68.0): missing requirement [org.ops4j.pax.web.samples.war-primefaces-wired [68](R 68.0)] osgi.wiring.package; (osgi.wiring.package=jakarta.faces.bean) Unresolved requirements: [[org.ops4j.pax.web.samples.war-primefaces-wired [68](R 68.0)] osgi.wiring.package; (osgi.wiring.package=jakarta.faces.bean)]
[ERROR]   WarJSFResourcehandlerIntegrationTest>AbstractWarJSFResourcehandlerIntegrationTest.testJsfResourceHandler:126->AbstractControlledTestBase.configureAndWaitForDeploymentUnlessInstalled:1108->AbstractControlledTestBase.configureAndWaitForDeployment:1058->AbstractControlledTestBase.configureAndWaitForDeployment:1077->AbstractWarJSFResourcehandlerIntegrationTest.lambda$testJsfResourceHandler$1:127->AbstractControlledTestBase.installAndStartBundle:825 » Bundle Unable to resolve org.ops4j.pax.web.samples.jsf-resourcehandler-myfaces [64](R 64.0): missing requirement [org.ops4j.pax.web.samples.jsf-resourcehandler-myfaces [64](R 64.0)] osgi.wiring.bundle; (osgi.wiring.bundle=org.apache.myfaces.core.impl) Unresolved requirements: [[org.ops4j.pax.web.samples.jsf-resourcehandler-myfaces [64](R 64.0)] osgi.wiring.bundle; (osgi.wiring.bundle=org.apache.myfaces.core.impl)]
[ERROR]   WarJSFResourcehandlerIntegrationTest>AbstractWarJSFResourcehandlerIntegrationTest.testResourceUnavailble:252 » ClassNotFound jakarta.faces.application.Resource not found by org.ops4j.pax.web.itest.pax-web-itest-container-common [24]
[ERROR]   WarJSFWiredIntegrationTest>AbstractWarJSFWiredIntegrationTest.setUp:39->AbstractControlledTestBase.configureAndWaitForDeploymentUnlessInstalled:1108->AbstractControlledTestBase.configureAndWaitForDeployment:1058->AbstractControlledTestBase.configureAndWaitForDeployment:1077->AbstractWarJSFWiredIntegrationTest.lambda$setUp$0:40->AbstractControlledTestBase.installAndStartBundle:825 » Bundle Unable to resolve org.ops4j.pax.web.samples.war-jsf23-wired [59](R 59.0): missing requirement [org.ops4j.pax.web.samples.war-jsf23-wired [59](R 59.0)] osgi.wiring.bundle; (osgi.wiring.bundle=org.apache.myfaces.core.impl) Unresolved requirements: [[org.ops4j.pax.web.samples.war-jsf23-wired [59](R 59.0)] osgi.wiring.bundle; (osgi.wiring.bundle=org.apache.myfaces.core.impl)]
[ERROR]   WarJSFWiredIntegrationTest>AbstractWarJSFWiredIntegrationTest.setUp:39->AbstractControlledTestBase.configureAndWaitForDeploymentUnlessInstalled:1108->AbstractControlledTestBase.configureAndWaitForDeployment:1058->AbstractControlledTestBase.configureAndWaitForDeployment:1077->AbstractWarJSFWiredIntegrationTest.lambda$setUp$0:40->AbstractControlledTestBase.installAndStartBundle:825 » Bundle Unable to resolve org.ops4j.pax.web.samples.war-jsf23-wired [59](R 59.0): missing requirement [org.ops4j.pax.web.samples.war-jsf23-wired [59](R 59.0)] osgi.wiring.bundle; (osgi.wiring.bundle=org.apache.myfaces.core.impl) Unresolved requirements: [[org.ops4j.pax.web.samples.war-jsf23-wired [59](R 59.0)] osgi.wiring.bundle; (osgi.wiring.bundle=org.apache.myfaces.core.impl)]
[INFO] 
[ERROR] Tests run: 250, Failures: 4, Errors: 16, Skipped: 4
```

Jetty bundle needs to be fixed - Jetty 12 has completely different artifact set.

Tomcat 11 no longer supports `jakarta.servlet.http.PushBuilder` API:
* https://github.com/apache/tomcat/commit/d28d6836b80d0709c56a3ab24d515788498c760e
* https://tomcat.apache.org/tomcat-11.0-doc/changelog.html#Tomcat_11.0.0-M12_(markt)
* jakartaee/servlet#538
* https://developer.chrome.com/blog/removing-push/
* https://jakarta.ee/specifications/servlet/6.1/jakarta-servlet-spec-6.1#changes-since-jakarta-servlet-6-0

All Undertow 2.3.x tests work.

Pax Web 10 won't have dedicated Keycloak support:
* https://www.keycloak.org/2023/03/adapter-deprecation-update.html
* https://www.keycloak.org/2022/02/adapter-deprecation.html

All Karaf tests work too!